.container-consultas
  ul
    margin-bottom 1em
.fa-money
  font-size 1.3em !important

.container-get-consultas
  max-height: 25em;
  overflow: auto;
  &-table
    .fa-ban
      color red
    .fa-pencil
      color blue
      margin 0 1em
    .fa-file-text
      margin-left: 1em

.container-postConsulta
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background rgba(black,0.6)
  form
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-top: 1em;
    .form-inputs
      margin-top 1em
    .form-buttons
      padding 1em 2em 1em 1em
      text-align: right;
      border-top: 1px solid #e5e5e5;
.popup-encabezado
  padding 1em
  border-bottom: 1px solid #e5e5e5;
  h4
    font-size 1.2em
    text-align: start
    text-transform capitalize
    padding 0
