.header-signin
  background #2b2c31 !important
  padding: 1em
  h2
    color #fff
    font-size 2em
    margin-left: 1em
  button
    padding: .2em .4em
    .fa-bars
      color black
      cursor pointer
