.active2
  background-color #0157A0 !important

.container-opciones
  background white
  width 98%
  margin 0 auto
  border: 1px solid #d8dee2
  border-top 1px solid #d8dee2
  height 32em
  &-menu
    background #2B2C31
    padding 0
    ul
      li
        a
          color white
          transition all .4s ease
        a:hover
          color black
          background #0157A0
        a:focus
          color black
          background none
    &-mobile
      display none
  &-container
    padding-top 1em
