.active2
  background-color #0157A0 !important

.container-opciones
  background white
  margin 0 auto
  border: 1px solid #d8dee2
  border-top 1px solid #d8dee2
  height 37em
  &-menu
    background #2B2C31
    padding 0
    ul
      li
        a
          color white
          transition all .4s ease
        a:hover
          color black
          background #0157A0
        a:focus
          color black
          background none
    &-mobile
      display none
  &-container
    padding-top 1em
    max-height: 37em;
    overflow: auto;

.expediente
  max-height: 32em
  overflow-x: hidden;
  overflow-y: auto;
.container-paciente
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
.info-personal-secre
    width: 90%
    margin: 2em auto
    background: white
    padding: 1em
    border-radius: 9px;
    form
      .btn-default
        margin-right 1em
    .encabezado-addPaciente
      text-align: center;
      margin-bottom: 2em
.fa-money
  margin-right: 1em
.table-corte
  margin-top: 2em
  thead
    tr
      th
        text-align: center !important
