.fa-bars
  background #D9534F
  padding .5em
  border-radius 16px
  color white
  margin 0 0 .5em .5em
  cursor pointer
.container-opciones
  background white
  width 98%
  margin 0 auto
  border: 1px solid #d8dee2
  border-top 1px solid #d8dee2
  height 32em
  &-menu
    background #2b4490
    padding 0
    ul
      li
        a
          color white
        a:hover
          color black
        a:focus
          color black
    &-mobile
      display none
  &-container
    padding-top 1em
@import './consultas/consultas'
