.login
	height 100vh
	background-color #f9f9f9
	&-container
		width 50%
		margin 0 auto
		&-logo
			display flex
			justify-content center
			flex-direction column
			align-items center
			margin-bottom 2em
			padding-top 3em
			img
				height 10em
				width 10em
				margin-bottom 1em
				cursor pointer
		&-form
			background-color #fff
			border: 1px solid #d8dee2
			border-top 1px solid #d8dee2
			border-radius 5px
			padding 2em
			label
				margin-bottom .4em
			.boton-login
				display flex
				justify-content center
				button
					padding 6px 47px !important