@import './login/login'
@import './components/components'
@import './secretaria/secretaria'

.fa-pencil
  color #337AB7 !important
.fa-ban
  color #DE5151 !important
.fa-file-text
  color: #509C50 !important
