@import './login/login'
@import './components/components'
@import './secretaria/secretaria'
i, li
  cursor: pointer !important
.fa-money
  color  #2E862E
.fa-pencil
  color #337AB7 !important
.fa-ban
  color #DE5151 !important
.fa-file-text
  color: #509C50 !important
.fa-times
  margin-left 1em
  opacity .2
  transition all .3s ease
  cursor pointer
.fa-times:hover
  opacity .5
