<div class="info-personal row between-xs">
  <div class="foto-expediente col-xs-2">
    <img src="" alt="gravar image">
  </div>
  <div action="" class="info-personal-form row col-xs-9">
    <div class="info-personal-form-uno col-xs-6">
      <div class="form-group">
       <label>Nombre</label>
       <input type="text" class="form-control" id="exampleInputName2" required placeholder="Nombre(s)">
      </div>
      <div class="form-group">
        <label>Paterno</label>
        <input type="text" class="form-control" id="exampleInputName2" required placeholder="Paterno">
      </div>
      <div class="form-group">
        <label>Materno</label>
        <input type="text" class="form-control" id="exampleInputName2" required placeholder="Materno">
      </div>
      <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="date" class="form-control" required id="exampleInputName2">
      </div>
      <div class="form-group">
        <label>Genero</label>
        <select class="form-control" id="sel1" required>
          <option>Masculino</option>
          <option>Femenino</option>
        </select>
      </div>
      <div class="form-group">
         <label>Curp</label>
         <input type="text" class="form-control" required id="exampleInputName2" placeholder="curp">
      </div>
    </div>
    <div class="info-personal-form-dos col-xs-6">
      <div class="form-group">
       <label>Estado</label>
       <input type="text" class="form-control" required id="exampleInputName2">
      </div>
      <div class="form-group">
       <label>Municipio</label>
       <input type="text" class="form-control" required id="exampleInputName2">
      </div>
      <div class="form-group">
       <label>Dirección</label>
       <input type="text" class="form-control" required id="exampleInputName2">
      </div>
      <div class="form-group">
         <label>Codigo Postal</label>
         <input type="text" class="form-control" required id="exampleInputName2" placeholder="cp">
      </div>
      <div class="form-group">
         <label>Correo</label>
         <input type="email" require class="form-control" required id="exampleInputName2" placeholder="betoo@example.com">
      </div>
    </div>
  </div>
</div>
