<div class="antecedentes-personales row">
  <div class="col-xs-4 antecedentes-personales-antecedentes">
    <h3>Antecedentes</h3>
    <ul>
      <li id="menu_antecedentes1">Hereditarios</li>
      <li id="menu_antecedentes2">Patologicos</li>
      <li id="menu_antecedentes3">No Patologicos</li>
    </ul>
  </div>
  <div class="col-xs-4 antecedentes-personales-opciones">
    <div>
      <form class="form-group">
        <div class="form-group">
          <label for="exampleInputName2">Tipo de sangre</label>
          <select class="form-control" id="sel1" required>
            <option>A+</option>
            <option>A-</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Tabaquismo</label>
          <select class="form-control" id="sel1" required>
            <option>Nunca</option>
            <option>A-</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Alcoholismo</label>
          <select class="form-control" id="sel1" required>
            <option>Nunca</option>
            <option>A-</option>
          </select>
        </div>
      </form>
      <div class="antecedente-selected">
        <div class="form-group">
          <label for="comment">Antecedente select:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4 antecedentes-personales-resumen">
    <h3>Resumen</h3>
    <div>
      <h4>Hereditarios:</h4>
      <p>Diabetes</p>
      <h4>Patologicos:</h4>
      <p>Himpertencón arterial</p>
      <h4>No Patologicos:</h4>
      <p>Anormalidades</p>
    </div>
  </div>
</div>
