<section class="getPacientes">
  <div class="container-get-consultas">
    <table class="table table-hover container-get-consultas-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Paterno</th>
          <th>Materno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Jose Alberto</td>
          <td>Cordoba</td>
          <td>Lugo</td>
          <td>
            <i class="fa fa-ban"></i>
            <i class="fa fa-pencil"></i>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Giovanna Alejandra</td>
          <td>Lucio</td>
          <td>Vazquez</td>
          <td>
            <i class="fa fa-ban"></i>
            <i class="fa fa-pencil"></i>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Edna Cecilia</td>
          <td>Eguia</td>
          <td>Eguia</td>
          <td>
            <i class="fa fa-ban"></i>
            <i class="fa fa-pencil"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary"  ng-click="vm.formularioOpen = true;" name="button">Agregar Paciente</button>
    <paciente-formulario
      ng-if="vm.formularioOpen"
      open="vm.formularioOpen"></paciente-formulario>
  </div>
</section>
