<section class="container-pacientes">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active" id="getCnst"><a ui-sref="main.secretaria.pacientes">Ver Pacientes</a></li>
  </ul>
  <section class="getPacientes">
    <div class="container-pacientes-get">
      <table class="table table-hover container-pacientes-get-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="paciente in vm.pacientes">
            <td>{{paciente.id}}</td>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.paterno}}</td>
            <td>{{paciente.materno}}</td>
            <td>
              <i class="fa fa-file-text" ng-click="vm.formularioOpen2 = true"></i>
              <i class="fa fa-ban"></i>
              <i class="fa fa-pencil" ng-click="vm.pacienteSelected=paciente; vm.formularioOpen = true;"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" ng-click="vm.formularioOpen = true; vm.pacienteSelected = null;" name="button">Agregar Paciente</button>
      <paciente-formulario ng-if="vm.formularioOpen" open="vm.formularioOpen" paciente="vm.pacienteSelected"></paciente-formulario>
    </div>

    <expediente-medico ng-if="vm.formularioOpen2" open2='vm.formularioOpen2'></expediente-medico>
  </section>
</section>
