@import 'nib';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css';
@import '../node_modules/flexboxgrid/dist/flexboxgrid.css';
@import '../node_modules/reset.css/reset.css';
@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/angular-clock/dist/angular-clock.css';

*
  outline none !important
	box-sizing border-box
body
 background #E9EAED !important
 font-family 'Raleway', sans-serif !important
.margen
	margin 0

@import './app/home/home'
@import './app/main/main'
