@import 'nib';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css';
@import '../node_modules/flexboxgrid/dist/flexboxgrid.css';
@import '../node_modules/reset.css/reset.css';
@import '../node_modules/normalize.css/normalize.css';

body
 background #E9EAED !important
*
  outline: none !important;
	font-family 'Raleway', sans-serif
	box-sizing: border-box;
.margen
	margin 0

@import './app/home/home'
@import './app/main/main'
