@import 'nib';
@import '../node_modules/reset.css/reset.css';
@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/flexboxgrid/dist/flexboxgrid.css';

body
	background red

@import './app/home/home'