.info-personal
  img
    width 10em
    height 10em
    background: red
    margin 0 0 1em 0
    border: 3px solid

.antecedentes-personales
  height 29em
  &-antecedentes
    h3, li
      padding 1em
    h3
      background: #E9EAED
    ul
      li
        cursor pointer
        transition all .5s ease
      li:hover
        background #96B5F3
      li:focus
        background #96B5F3
  &-opciones
    border-right 1px solid gray
    border-left 1px solid gray
  &-resumen
    h3, h4, p
      padding 1em
    h3
      background: #E9EAED
      margin-bottom 1em
.menu-active
  background #96B5F3

.consultas-expediente
  &-container
    h3
      text-align center
      background-color: rgb(217, 217, 217)
      padding: 1em
      margin-bottom: 1em
    &-detalleConsulta
      &-opciones
        div
          h4
            padding: .5em 0
    &-listaConsultas
      table
        tbody
          tr
            cursor: pointer

.expediente-medico
  &-container
    .title-exp
      padding: .5em
      font-size: 1.3em
      text-align: center;
    form
      padding: 1em !important
      .sub-title
        padding: 1em;
        background: #0157A0;
        margin: 1em 0;
        color: white;
        border-radius: 4px;
