<section class="expediente-medico">
  <div class="expediente-medico-container">
    <div class="expediente-close"><i class="fa fa-times" ng-click="open2=false;"></i></div>
    <form>
      <h3 class="title-exp"><b>Expediente Medico</b></h3>
      <h3 class="sub-title">Información Personal</h3>
      <info-personal></info-personal>
      <h3 class="sub-title">Antecedentes Personales</h3>
      <antecedentes-personales></antecedentes-personales>
      <h3 class="sub-title">Consultas</h3>
      <exp-consultas></exp-consultas>
      <button type="button" class="btn btn-primary" name="button">Agregar</button>
    </form>
  </div>
</section>
