.info-personal
  figure
    width 10em
    height 10em
    background-image url(https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1185631_627964767253159_486476512_n.jpg?_nc_eui=ARiD7kcNYtCYMBIXM5_eyrxKVN1ZJdZut9c6MtFenA4bdpDHVDPKKnewZUc0&oh=67f34b24779a1cdc666cd8c2a1d51b84&oe=57974FEC)
    background-size 10em
    margin 0 0 1em 0

.antecedentes-personales
  height 29em
  &-antecedentes
    h3, li
      padding 1em
    h3
      background: #E9EAED
    ul
      li
        cursor pointer
        transition all .5s ease
      li:hover
        background #96B5F3
      li:focus
        background #96B5F3
  &-opciones
    border-right 1px solid gray
    border-left 1px solid gray
  &-resumen
    h3, h4, p
      padding 1em
    h3
      background: #E9EAED
      margin-bottom 1em
