.container-consultas
  ul
    margin-bottom 1em
.fa-money
  color green
  font-size 1.3em !important
  cursor pointer
.container-get-consultas
  max-height: 25em;
  overflow: auto;
  &-table
    i
      cursor pointer
    .fa-ban
      color red
      margin-right 1em
    .fa-pencil
      color blue
